<?xml version="1.0"?>
<launch>
  <node pkg="jy901_driver" type="jy901_driver_node" name="jy901_node" output="screen" >
		<param name="baudrate" type="int" value="115200" />
		<param name="port" type="string" value="/dev/caster_imu" />
		<param name="looprate" type="int" value="50" />
	</node>
</launch>
